@{ ViewData["Title"] = "Submission Successful"; }

<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item">
        Azure Friday
      </a>
        <a href="@Url.Action("Index")" class="item">Home</a>
        <div class="ui simple dropdown item">
            Dropdown <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="#">Link Item</a>
                <a class="item" href="#">Link Item</a>
                <div class="divider"></div>
                <div class="header">Header Item</div>
                <div class="item">
                    <i class="dropdown icon"></i> Sub Menu
                    <div class="menu">
                        <a class="item" href="#">Link Item</a>
                        <a class="item" href="#">Link Item</a>
                    </div>
                </div>
                <a class="item" href="#">Link Item</a>
            </div>
        </div>
    </div>
</div>
<div class="pusher">
        <div class="ui very padded vertical segment contact">
              <h1 class="ui header">Form Submitted Successfully</h1>
              <p>Thanks so much for contacting us.</p>
        </div>